:root {
    --dark : #2e2e2e;
    --darker : #1c1c1c;
    --bright : #d8d8d8;
    --brighter : #f2f2f2;
}


/* 모바일 */
@media screen and (max-width : 768px) {
    aside h1 {
        margin : 0;
        height : 45px;
        line-height : 45px;
    }
    
    .aside_box {
        padding : 0px 10px;
    }
}


/* 태블릿, PC */
@media screen and (min-width : 768px) {
    aside {
        display : flex;
    }
    
    aside h1 {
        margin : 0;
        height : 45px;
        line-height : 45px;
    }
    
    .aside_box {
        width : 180px;
        background-color : var(--brighter);
        padding : 0px 10px;
    }

    .aside_section_margin {
        width : 10px;
        height : 10px;
    }
}


/* 공통 */
aside hr {
    margin : 0 auto;
}

.aside_box {
    user-select : none;
}

.aside_box ul {
    margin : 0 auto;
    padding : 0;
}

.aside_box li {
    list-style-type: none;
    font-size: 12pt;
    margin: 5px 5px;
    font-weight: bold;
}

.checkbox {
    display: none;
}

.checkbox + .label {
    margin : 0px 0px 0px 5px;
    cursor : pointer;
}

.checkbox + .label::before {
    content : "▲";
}

.checkbox:checked ~ ul {
    display : none;
} 

.checkbox:checked + .label::before {
    content : "▼";
}

.aside_box li a {
    text-decoration : none;
    color : black;
}

.aside_box li a:hover {
    text-decoration : underline;
}
