:root {
    --dark : #2e2e2e;
    --darker : #1c1c1c;
    --bright : #d8d8d8;
    --brighter : #f2f2f2;

    --div-height : 200px;
}


/* 모바일 */
@media screen and (max-width : 768px) {
    .section_box {
        background-color : var(--brighter);
        flex : 1 0 auto;
        width : 0px;
        word-break : break-all;
    }

    .sectionBody {
        /* overflow : hidden;
        text-overflow: ellipsis;
        white-space: nowrap; */
        background-color : white;
        width : calc(100% - 20px);
        margin : 20px 0px;
        padding : 10px;
    }

    .post-container {
        background-color: white;
        margin: 0px;
        cursor: pointer;
    }
}


/* 태블릿 */
@media screen and (min-width : 768px) and (max-width : 1240px) {
    .section_package {
        display : flex;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0;
        padding-right: 0;
    }
    
    .section_box {
        background-color : var(--brighter);
        flex : 1 0 auto;
        width : 0px;
        word-break : break-all;
    }

    .sectionBody {
        background-color : white;
        width : calc(100% - 60px);
        margin : 20px;
        padding : 10px;
    }

    .post-container {
        background-color: white;
        margin: 0px;
    }

    .post-hr-container {
        margin: 0px 15px;
    }

    .notice-container {
        margin: 20px 15px 10px 15px;
    }
}


/* PC */
@media screen and (min-width : 1240px) {
    .section_package {
        width: 1200px;
    }

    .section_package {
        display : flex;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0;
        padding-right: 0;
    }
    
    .section_box {
        background-color : var(--brighter);
        flex : 1 0 auto;
        width : 0px;
        word-break : break-all;
    }

    .sectionBody {
        background-color : white;
        width : calc(100% - 60px);
        margin : 20px;
        padding : 10px;
    }

    .post-container {
        background-color: white;
        margin: 0px;
    }

    .post-hr-container {
        margin: 0px 15px;
    }

    .notice-container {
        margin: 20px 15px 10px 15px;
    }
}


/* 공통 */
section {
    display : flex;
    flex : 1;
}

.sectionBody h1 {
    margin : 0 auto;
}

.sectionBody button {
    margin : 5px 5px;
}

.notice-container {
    line-height : 210%;
}

.noticeBody a {
    text-decoration : none;
    color : #088A68;
}

pre {
    position : relative;
}

.copy-button {
    position : absolute;
    z-index : 5;
    top : 0px;
    right : 0px;
}

figure img {
    width : 100% !important;
    height : auto !important;
    display : block;
}

.image {
    margin-left : auto;
    margin-right : auto;
}

.image_resized {
    max-width : 95%;
}

.image-style-align-right {
    float: right;
    margin-right: 0;
    margin-left: var(--ck-image-style-spacing);
}

.image-style-align-left {
    float: left;
    margin-left: 0;
    margin-right: var(--ck-image-style-spacing);
}

.image-style-block-align-right {
    margin-right: 0;
	margin-left: auto;
}

.image-style-block-align-left {
    margin-right: 0;
	margin-left: auto;
}

blockquote {
    border-left:5px solid #ccc;
    font-style:italic;
    margin-left:0;
    margin-right:0;
    overflow:hidden;
    padding-left:1.5em;
    padding-right:1.5em
}

figcaption {
	caption-side: bottom;
	word-break: break-word;
	color: #333;
	background-color: #f7f7f7;
	padding: .6em;
	font-size: .75em;
	outline-offset: -1px;
}

.recentPost li {
    list-style-type: none;
}

.recentPost ul {
    margin : 0 auto;
    padding : 0;
}

.post-title {
    margin : 10px 10px 10px 10px;
    font-size : 20px;
    font-weight : bold;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    /* word-break: keep-all; */
    /* text-overflow: ellipsis; */
}

.post-category {
    margin : 20px 10px 10px 10px;
    font-size : 16px;
    font-weight : bold;
}

.post-time, .update-time {
    margin : 10px;
    padding : 0px;
    font-size : 14px;
}

.post-container {
    display : block;
    text-decoration : none;
    color : black;
}

.post-container:hover > .post-title {
    text-decoration: underline;
}

.post-hr-container hr {
    margin-top : 20px;
    margin-bottom : 0px;
}

#button-container {
    display : flex;
    justify-content : center;
    margin : 15px 0px 5px 0px;
}

#button-container div, span {
    padding : 0 5px;
    cursor : pointer;
}

.number-button.selected {
    font-weight: bolder;
    background-color: var(--brighter);
    cursor : default;
}

.sectionBody:has(ins.adsbygoogle[data-ad-status="unfilled"]) {
    display: none !important;
}
