:root {
    --dark : #2e2e2e;
    --darker : #1c1c1c;
    --bright : #d8d8d8;
    --brighter : #f2f2f2;

    --nav-height : 45px;
}


/* 모바일 */
@media screen and (max-width : 768px) {
    body {
        margin : 0px;
    }

    .logoText {
        display : none;
    }
}


/* 태블릿 */
@media screen and (min-width : 768px) and (max-width : 1240px) {
    body {
        margin : 0px 20px;
    }
    
}


/* PC */
@media screen and (min-width : 1240px) {
    body {
        margin : 0px 20px;
    }

    .nav_package {
        width: 1200px;
    }
}


/* 공통 */
* {
 scroll-margin-top : 45px;
 scroll-behavior: smooth;
}

body {
    padding-top : var(--nav-height);
}

nav {
    position : fixed;
    top : 0;
    left : 0;
    right : 0;
    height : var(--nav-height);
    background-color : var(--dark);
    opacity : 0.9;
    z-index : 2;
}

nav .nav_package {
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

nav #logo {
    margin : 0;
    padding-left : 10px;
    height : var(--nav-height);
    width : var(--nav-height);
    float : left;
}

nav h1 {
    margin : 0;
    height : var(--nav-height);
    line-height : var(--nav-height);
    float : left;
}

nav h1 a {
    text-decoration : none;
    color : var(--bright);
    display : block;
}
