:root {
    --dark : #2e2e2e;
    --darker : #1c1c1c;
    --bright : #d8d8d8;
    --brighter : #f2f2f2;

    --div-height : 315px;
}



/* 모바일 */
@media screen and (max-width : 768px) {
    section .section_class_option {
        margin : 0;
        width : 100%;
    }

    .sectionBody {
        width : calc(100% - 40px);
    }

    .sectionMargin {
        display : none;
    }
}



/* 태블릿 */
@media screen and (min-width : 768px) and (max-width : 1240px) {
    section .section_class_option {
        margin : 0;
        width : 100%;
    }

    .sectionBody {
        width : calc(49% - 40px);
    }

    .sectionMargin {
        width : 2%;
    }
}



/* PC */
@media screen and (min-width : 1240px) {
    section .section_class_option {
        margin : 0 auto;
        width : 1200px;
    }

    .sectionBody {
        width : calc(49% - 40px);
    }
    
    .sectionMargin {
        width : 2%;
    }
}


/* 공통 */
html {
    background-color : var(--brighter);
    word-break : break-all;
}

.sectionTitle {
    background-color : white;
    margin-top : 12px !important;
    padding : 10px 30px;
    width : calc(100% - 60px);
    overflow : auto;
}

.body-chain {
    padding : 0px;
    width : 100%;
    overflow : auto;
}

.sectionBody {
    padding : 10px 20px;
    float : left;
    background-color : white;
    height : var(--div-height);
    overflow : hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top : 20px !important;
    margin-right : 0px;
    margin-left : 0px;
    margin-bottom : 0px;
}

#search-form {
    margin : 0px;
    padding : 0px 10px;
    width : calc(100% - 20px);
}

#search-bar {
    width : calc(100% - 100px);
    margin : 0px;
    padding : 0px 0px 0px 7px;
    height : 27.1px;
    line-height : 15px;
    border : 7px solid var(--dark);
}

#submit-bar {
    margin : 0px;
    padding : 0px;
    width : 60px;
    height : 40px;
    border : 7px solid var(--dark);
}

.sectionTitle h1 {
    margin : 0;
}

.sectionBody h2 {
    margin : 0px;
}

.sectionMargin {
    float : left;
    height : var(--div-height);
    margin-top : 20px !important;
    margin-right : 0px;
    margin-left : 0px;
    margin-bottom : 0px;
}

.recent {
    text-decoration : none;
    color : black;
    font-weight : bold;
    line-height : 27px;
}

.recent:hover {
    text-decoration : underline;
}